.main {
  background-color: #FFFFFF;
  width: 375px;
  height: 445px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  color: blue;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

.signInContainer{
  margin-left: 30px !important;
}

.orContainer{
  margin-top: -20px ;
  margin-bottom: -17px;
}


.todoTitle{
  /* color: blue; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-family: cursive;
  margin-left: 13px;
  margin-top: 18px;
}

.submit {
  cursor: pointer;
  color: #fff !important;
  background: linear-gradient(to right, #273eb0, #4093fb);
  font-size: 13px !important;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04) !important;
  border-radius: 5em;
  text-transform: none !important;
}

label + .MuiInput-formControl {
  font-size: 14px;
}

.container{
  margin-top: 20px;
  margin-left: 18px;
}

.profileLeft{
  height: 75px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
}

.profileImage{
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: 10px;
}

.editIcon {
  font-size: 19px !important;
  margin-top: 7px;
  color: #777272;
  cursor: pointer;
}

.deleteIcon{
  font-size: 19px !important;
  margin-top: 18px;
  color: #777272;
  cursor: pointer;
  margin-left : 10px; 
}

.editIcon{
  font-size: 19px !important;
  margin-top: 18px;
  color: #777272;
  cursor: pointer;
  margin-left : 8px; 
}

.editIcon{
  font-size: 19px !important;
  margin-top: 18px;
  color: #777272;
  cursor: pointer;
  margin-left : 8px; 
}

.addIcon{
  margin-left: 11px;
  color: blue !important;
  font-size: 19px !important;
  margin-top: 18px;
  color: #777272;
  cursor: pointer;
  margin-top: 17px;
}

.todosDiv > div {
  display: flex;
}

.errorMessage{
  margin-top: 21px;
  margin-left: 20px;
  color: red;
}

.errorMessageTodo{
  margin-top: 21px;
  margin-left: 20px;
  color: red;
  margin-left: -2px;
  margin-top: 14px;
}

.errorMessageSubTodo{
  margin-top: 21px;
  margin-left: 20px;
  color: red;
  margin-left: -2px;
  margin-top: 14px;
}

.divContainer {
  padding-left: 10px; 
}

.divContainer > div {
  display: flex;
  margin-top: -5px;
}

.divFlex{
  margin-left: 11px;
  display: flex;
}

.userDetails {
  margin-left : 20px;
}

.spaceTop{
  margin-top: 23px
}

.spaceTop > div {
  font-size: 15px;
}

.emailDiv {
  margin-top: 10px;
}

.emailDiv > div {
  font-size: 15px;
}

.MuiDialog-paperWidthSm {
  width: 465px;
  height: 32%;
}

.logout{
  margin-top: 29px;
  margin-left: 48px;
  font-size: 32px !important;
  color: #a50b0b;
  cursor: pointer;
}

.todoContainer{
  padding: 20px;   
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  margin-top: 22px !important; 
}

.addTodo{
  color: blue;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  margin-left: 14px;
}

.todoAdd{
  border-radius: 15px;
  padding: 22px 25px 57px 12px;
}

.todosDiv{
  color: black !important;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  margin-left: 33px !important;
  height: 245px;
  overflow: auto;
  display: list-item !important;
  margin: 10px !important;
}

.divTodo{
  margin-left: 25px !important;
  width: 93%;
}

.signInContainer {
  margin-left: 30px; 
}

.bigTextField {
  width: 75%;
}

.noAccount {
  font-size: 13px;
}

.signInSubmit {
  cursor: pointer;
  color: #fff !important;
  background: linear-gradient(to right, #273eb0, #4093fb);
  font-size: 13px !important;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04) !important;
  border-radius: 5em;
  text-transform: none !important;
  width: 76%; 
} 

.signInError {
  font-size: 11px;
  color: red;
}