.main {
  background-color: #FFFFFF;
  width: 375px;
  height: 445px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  color: blue;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

.todoTitle{
  color: blue;
  font-family: 'Ubuntu', sans-serif;
  /* font-weight: bold; */
  font-size: 23px;
  font-family: cursive;
  margin-left: 13px;
}

.submit {
  cursor: pointer;
  color: #fff !important;
  background: linear-gradient(to right, #273eb0, #4093fb);
  font-size: 13px !important;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04) !important;
  border-radius: 5em;
  text-transform: none !important;
}

label + .MuiInput-formControl {
  font-size: 14px;
}

.container{
  margin-top: 20px;
  margin-left: 18px;
}

.profileLeft{
  height: 75px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
}

.profileImage{
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: 10px;
}

.editIcon {
  font-size: 19px !important;
  margin-top: 7px;
  color: #777272;
  cursor: pointer;
}

.deleteIcon{
  font-size: 19px !important;
  margin-top: 25px;
  color: #777272;
  cursor: pointer;
}

.MuiDialog-paperWidthSm {
  width: 465px;
  height: 32%;
}

.logout{
  margin-top: 29px;
  margin-left: 48px;
  font-size: 32px !important;
  color: #a50b0b;
  cursor: pointer;
}

.todoContainer{
  padding: 20px;   
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
}

.addTodo{
  color: blue;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

.todoAdd{
  border-radius: 15px;
  padding: 22px 25px 57px 12px;
}

.todosDiv{
  color: black !important;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  margin-left: 33px !important;
  height: 245px;
  overflow: auto;
  display: list-item !important;
}


.addIcon{
  margin-left: 28px;
  margin-top: 10px;
  color: #0000FFFF
}

.errorMessage{
  margin-top: 21px;
  margin-left: 20px;
  color: red;
}